<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@Url.Content("~")/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - AccountingSystem.Web</title>

    <partial name="_ShareJsTopPartial" />

    <script src="app/node_modules/core-js/client/shim.min.js"></script>
    <script src="app/node_modules/zone.js/dist/zone.js"></script>
    <script src="app/node_modules/systemjs/dist/system.src.js"></script>
    <script src="app/systemjs.config.js"></script>
</head>
<body>
    <div id="wrapper">
        <leftBarComponent></leftBarComponent>
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    <partial name="_ShareJsBottomPartial" />

    <script>
        System.import('@Url.Content("~")/app/leftBar/main').catch(function (err) { console.error(err); });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
